<template>
  <div v-if="extendedCategories.length > 0">
    <category-select-field-item :categories="extendedCategories"
                                :exclude="exclude"
                                :multiple="multiple"
                                :on-change="onChangeCategories"></category-select-field-item>
  </div>
</template>

<script>

import CategorySelectFieldItem from "./CategorySelectFieldItem.vue";

export default {
  name: "CategorySelectField",
  components: {
    CategorySelectFieldItem
  },
  props: {
    categories: {
      type: Array,
      require: true
    },
    value: {
      require: false,
      default: 0
    },
    exclude: {
      require: false,
      default: null
    },
    multiple: {
      type: Boolean,
      required: false,
      default: false
    },
    useObjects: {
      type: Boolean,
      required: false,
      default: false
    },
    state: {
      type: Boolean,
      required: false,
      default: null
    },
    onInit: {
      type: Function,
      require: false,
      default: null
    },
    onChange: {
      type: Function,
      require: false,
      default: null
    }
  },
  mounted() {
    console.log(this.categories);
    this.setCategories(this.categories);
    this.onInitCategories();
  },
  data: function () {
    return {
      extendedCategories: []
    };
  },
  methods: {
    setCategories(categories) {
      this.extendedCategories = [];
      if (this.multiple) {
        categories.forEach(item => {
          this.extendedCategories.push({
            id: item.id,
            parentId: item.parent_id,
            name: item.name,
            checked: (this.value ? this.value.includes(item.id) : false)
          });
        });
      } else {
        categories.forEach(item => {
          this.extendedCategories.push({
            id: item.id,
            parentId: item.parent_id,
            name: item.name,
            checked: (item.id === this.value)
          });
        });
      }
    },
    getSelectedValues() {
      let selected = null;

      if (this.multiple) {
        selected = this.extendedCategories.filter(item => item.checked);

        if (this.useObjects === false) {
          selected = selected.map(item => item.id);
        }
      } else {
        selected = this.extendedCategories.find(item => item.checked);
        if (this.useObjects === false) {
          selected = selected.id;
        }
      }
      return selected;
    },
    onInitCategories() {
      if (this.onInit) {
        this.onInit(this.getSelectedValues());
      }
    },
    onChangeCategories() {
      if (this.onChange) {
        this.onChange(this.getSelectedValues());
      }
    },
    clearCategories() {
      this.extendedCategories.forEach(category => {
        category.checked = false;
      });
      this.onChangeCategories();
    }
  },
  computed: {
    isChecked() {
      return this.extendedCategories.filter(category => category.checked).length > 0;
    }
  },
  watch: {
    categories(val) {
      this.setCategories(val);
    }
  }
}
</script>

<style scoped>

</style>
