<template>
  <div>
    <div v-if="category">
            <span v-if="multiple" class="form-check form-switch">
                <input type="checkbox" v-model="category.checked" @change="onChange" :id="'category-' + category.id"
                       class="form-check-input">
                <label :for="'category-' + category.id" class="form-check-label">{{ category.name }}</label>
            </span>
      <span v-else>
                <b v-if="category.checked">{{ category.name }}</b>
                <div v-else @click="onSelectCategory(category)">{{ category.name }}</div>
            </span>

      <div class="ml-5" v-for="subCategory in subCategories">
        <category-select-field-item :id="subCategory.id"
                                    :exclude="exclude"
                                    :multiple="multiple"
                                    :categories="categories"
                                    :on-change="onChange"></category-select-field-item>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CategorySelectFieldItem",
  props: {
    id: {
      type: Number,
      required: false,
      default: 0
    },
    categories: {
      type: Array,
      require: true
    },
    exclude: {
      require: false,
      default: null
    },
    multiple: {
      type: Boolean,
      required: false,
      default: false
    },
    onChange: {
      type: Function,
      require: true
    }
  },
  computed: {
    subCategories: function () {
      return this.categories.filter(category => {
        return category.parentId === this.id && category.id !== 0;
      });
    },
    category() {
      let category = this.categories.find((item) => item.id === this.id);

      if (category) {

        if (category.id === this.exclude) {
          return null;
        }

        return category;
      }
      return null;
    }
  },
  methods: {
    onSelectCategory(selectedCategory) {
      this.categories.forEach(category => {
        category.checked = (category.id === selectedCategory.id);
      })
      this.onChange();
    }
  }
}
</script>

<style scoped>

</style>
