.full-window {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-loading-bg {
    background-color: #000000;
    opacity: 0.5;
    z-index: 10000;
}

.page-loading {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    padding-top: 26px;
    border-radius: 50px;
    z-index: 10001;

    .spinner-border {
        width: 3rem;
        height: 3rem;
    }
}

