<template>
  <div id="modal-background" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
       style="display: block" v-show="visible">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Bezár" @click="onClickCloseButton">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <slot/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SimpleModal",
  props: {
    title: {
      type: String,
      require: true
    },
    onClose: {
      type: Function,
      require: false,
      default: null
    }
  },
  data() {
    return {
      visible: false
    };
  },
  methods: {
    show() {
      this.visible = true;
    },
    hide() {
      this.visible = false;
    },
    onClickCloseButton() {
      this.hide();
    }
  }
}
</script>

<style scoped>

</style>
