<script>
export default {
  name: "AdminElements"
}
</script>

<template>
  <div>
    <page-loading></page-loading>
    <success-message></success-message>
    <destroy-modal></destroy-modal>
  </div>
</template>

<style scoped>

</style>