<template>
    <div class="autocomplete">
        <div v-if="selected">
            <div class="input-group mb-3">
                <input type="text" class="form-control" :value="selected.label" disabled="disabled">
                <div class="input-group-append" @click="clickSearch">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                </div>
            </div>
        </div>
        <div v-else>
            <input v-model="searchTerm" class="form-control" @input="updateSearch" @click="updateSearch">
            <ul v-if="isOpen" class="autocomplete-results">
                <li v-if="loading">
                    <loading></loading>
                </li>
                <li v-else v-for="option in options" @click="onSelectOption(option)" class="autocomplete-result">
                    {{ option.label }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "AutocompleteField",
    props: {
        value: {
            type: Object,
            default: null
        },
        source: {
            type: String,
            require: true
        },
        onUpdate: {
            type: Function,
            default: null
        }
    },
    data() {
        return {
            searchTerm: '',
            selected: null,
            options: [],
            isOpen: false,
            loading: false
        };
    },
    mounted() {
        if(this.value === null) {
            this.searchTerm = '';
            this.selected = null;
        }
        else {
            this.searchTerm = this.value.label;
            this.selected = this.value;
        }
    },
    watch: {
        value(val) {
            this.setValue(val);
        }
    },
    methods: {
        setValue(value) {
            this.searchTerm = value.label;
            this.selected = value;
        },
        clickSearch() {
            this.selected = null;
            this.isOpen = false;
        },
        updateSearch() {
            this.isOpen = true;
            this.loadOptions();
        },
        loadOptions() {
            this.loading = true;
            axios.post(this.source, {
                searchTerm: this.searchTerm
            }).then(response => {
                this.options = response.data;
                this.loading = false;
            }).catch(error => {

            });
        },
        onSelectOption(option) {
            this.searchTerm = option.label;
            this.selected = option;
            this.isOpen = false;
            if (this.onUpdate) {
                this.onUpdate(option);
            }
        }
    }
}
</script>

<style scoped>
.autocomplete {
    position: relative;
}

.autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    max-height: 120px;
    overflow: auto;
    top: 37px;
    position: absolute;
    width: 100%;
    background-color: #fff;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
}
</style>
