<template>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-question-circle"></i> {{ __('app.confirmation') }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="confirm-modal-message font-weight-bolder"></div>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="#" style="display: inline" class="delete-modal-form">
                        @csrf
                        <button type="submit" class="btn btn-primary">
                            {{ __('app.yes') }}
                        </button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ __('app.cancel') }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
name: "ConfirmModal"
}
</script>

<style scoped>

</style>
