<template>
    <div>

        <b-modal ref="my-modal" hide-footer title="Using Component Methods">
            <div class="d-block text-center">
                <h3>Hello From My Modal!</h3>
            </div>
            <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
            <b-button class="mt-2" variant="outline-warning" block @click="toggleModal">Toggle Me</b-button>
        </b-modal>



        <button class="btn btn-danger" @click="showDeleteModal">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</template>

<script>
export default {
    name: "DeleteButton",
    methods: {
        showDeleteModal: function () {
            this.$refs['my-modal'].show();
        }
    }
}
</script>

<style scoped>

</style>
