<template>
  <div id="modal-background" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel"
       style="display: block">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i :class="'fas fa-' + icon"></i> {{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Bezár" @click="onClickCancelButton">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ message }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" @click="onClickCancelButton">Mégse</button>
          <button class="btn btn-primary" @click="onClickDestroyButton">Töröl</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "DestroyModal",
  props: {
    url: {
      type: String,
      require: false,
      default: null
    },
    title: {
      type: String,
      require: true
    },
    icon: {
      type: String,
      require: false,
      default: null
    },
    message: {
      type: String,
      require: false,
      default: null
    },
    onCancel: {
      type: Function,
      require: false,
      default: null
    },
    onDelete: {
      type: Function,
      require: false,
      default: null
    }
  },
  data() {
    return {
      show: true,
    };
  },
  methods: {
    onClickDestroyButton() {
      if (this.url) {
        axios.delete(this.url).then(response => {
          if (this.onDelete) {
            this.onDelete();
          }
        }).catch(error => {
          this.onClickCancelButton();
        });
      }
    },
    onClickCancelButton() {
      if (this.onCancel) {
        this.onCancel();
      }
    }
  }
}
</script>

<style scoped>

</style>

