<template>
    <div>
        <div v-if="show">
            <div class="full-window page-loading-bg"></div>
            <div class="page-loading">
                <loading></loading>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "PageLoading",
    data: function () {
        return {
            show: false
        };
    },
    mounted() {
        this.$root.$on('pageLoading', (event) => {
            this.show = event;
        });
    }
}
</script>

<style scoped>

</style>
