<template>
    <div class="fixed-top p-3" @page-success-message="pageSuccessMessageAction">
        <success-message :title="title" :message="message"></success-message>
    </div>
</template>

<script>

import SuccessMessage from "./form/SuccessMessage.vue";

export default {
    name: "PageSuccessMessage",
    components: {
        SuccessMessage
    },
    data: function () {
        return {
            title: '',
            message: ''
        };
    },
    methods: {
        pageSuccessMessageAction() {
            this.title = '';
            this.message = '';
        }
    }
}
</script>

<style scoped>

</style>
