<template>
    <div>
        <simple-form :action-url="actionUrl" :init-url="initUrl" :method="method">
            <slot></slot>
        </simple-form>
    </div>
</template>

<script>

import SimpleForm from './SimpleForm.vue'

export default {
    name: "AdminForm",
    components: {
        SimpleForm
    },
    props: {
        id: {
            type: Number,
            require: false,
            default: null
        },
        baseUrl: {
            type: String,
            require: true
        }
    },
    computed: {
        initUrl() {
            if (this.id === null) {
                return this.baseUrl + '/create';
            } else {
                return this.baseUrl + '/' + this.id + '/edit';
            }
        },
        actionUrl() {
            if (this.id === null) {
                return this.baseUrl;
            } else {
                return this.baseUrl + '/' + this.id;
            }
        },
        method() {
            if (this.id === null) {
                return 'post';
            } else {
                return 'put';
            }
        }
    }
}
</script>

<style scoped>

</style>
