<template>
  <div>
    <simple-modal ref="category-modal" :title="label">
      <category-select-field :categories="categories"
                             :value="formValue"
                             :state="state"
                             :multiple="multiple"
                             :use-objects="true"
                             :on-init="onUpdateCategoryField"
                             :on-change="onUpdateCategoryField"></category-select-field>
    </simple-modal>
    <div class="card">
      <div class="card-body">
        <div class="form-group mb-3">
          <label :for="name" v-if="label">{{ label }}</label>
          <div :class="{'is-invalid': hasError}">
            <div v-if="selectedCategories.length > 0" class="mb-3">
              <span class="badge badge-secondary mr-1"
                    v-for="selectedCategory in selectedCategories">{{ selectedCategory.name }}</span>
            </div>
          </div>
          <div class="invalid-feedback" v-for="error in errorMessages" v-text="error"></div>
        </div>
        <div>
          <button @click="onOpenModal" class="btn btn-secondary">Kiválaszt</button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import FormFieldMixin from "../../mixins/FormFieldMixin";
import SimpleModal from "../modal/SimpleModal.vue";
import CategorySelectField from "../category/CategorySelectField.vue";

export default {
  name: "InputFormField",
  components: {
    SimpleModal,
    CategorySelectField
  },
  mixins: [FormFieldMixin],
  props: {
    multiple: {
      type: Boolean,
      default: false,
      require: false
    },
    categoriesField: {
      type: String,
      default: 'categories',
      require: false
    }
  },
  methods: {
    onUpdateCategoryField(values) {
      if (this.multiple) {
        this.selectedCategories = values;
        this.setParentFormValue(this.name, values.map(item => item.id));
      } else {
        this.selectedCategories = values ? [values] : [];
        this.setParentFormValue(this.name, values ? values.id : null);
      }
    },
    onOpenModal() {
      this.$refs['category-modal'].show();
    }
  },
  data() {
    return {
      selectedCategories: []
    }
  },
  computed: {
    categories() {
      if (this.hasParentFormData(this.categoriesField)) {
        return this.getParentFormData(this.categoriesField);
      }
      return [];
    }
  }
}
</script>

<style scoped>

</style>
