<template>
  <div class="form-group mb-3">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" :id="name" v-model="$parent.formValues[name]"
             :disabled="isDisabled">
      <label class="form-check-label" :for="name">{{ label }}</label>
    </div>
    <div class="invalid-feedback" v-for="error in errorMessages" v-text="error"></div>
  </div>
</template>

<script>
import FormFieldMixin from "../../mixins/FormFieldMixin";

export default {
  name: "CheckboxField",
  mixins: [FormFieldMixin]
}
</script>

<style scoped>

</style>
