<template>
  <button type="button" class="btn btn-primary btn-lg" @click="onClickButton" :disabled="isDisabled">{{ label }}</button>
</template>

<script>

import FormFieldMixin from "../../mixins/FormFieldMixin";

export default {
  name: "FormButton",
  mixins: [FormFieldMixin],
  props: {
    label: {
      type: String,
      request: true
    },
    onClick: {
      type: Function,
      request: false,
      default: null
    },
  },
  methods: {
    onClickButton() {
      if (this.onClick === null) {
        this.$parent.onClickSubmitButton();
      } else {
        this.onClick();
      }
    }
  }
}
</script>

<style scoped>

</style>
