<template>
  <div class="form-group mb-3">
    <label :for="name" v-if="label">{{ label }}</label>
    <input :type="type" class="form-control" :id="name" v-model="$parent.formValues[name]"
           :class="{'is-invalid': hasError}" :disabled="isDisabled">
    <div class="invalid-feedback" v-for="error in errorMessages" v-text="error"></div>
  </div>
</template>

<script>
import FormFieldMixin from "../../mixins/FormFieldMixin";

export default {
  name: "InputFormField",
  mixins: [FormFieldMixin],
  props: {
    type: {
      type: String,
      default: 'text',
      request: false
    }
  }
}
</script>

<style scoped>

</style>
