<template>
  <div class="form-group mb-3">
    <label :for="name" v-if="label">{{ label }}</label>
    <select class="form-control" :id="name" v-model="$parent.formValues[name]"
            :class="{'is-invalid': hasError}" :disabled="isDisabled">
      <option v-for="option in items" :value="option.id">
        {{ option.label }}
      </option>
    </select>
    <div class="invalid-feedback" v-for="error in errorMessages" v-text="error"></div>
  </div>
</template>

<script>
import FormFieldMixin from "../../mixins/FormFieldMixin";

export default {
  name: "SelectFormField",
  mixins: [FormFieldMixin],
  props: {
    optionsName: {
      type: String,
      default: 'text',
      request: false
    }
  },
  computed: {
    items() {
      return this.getParentFormData(this.optionsName);
    }
  }
}
</script>

<style scoped>

</style>
