<template>
  <div>
    <success-message :message="successMessage"></success-message>
    <div v-if="showForm">
      <div class="card">
        <div class="card-header" v-if="title">
          {{ title }}
        </div>
        <div class="card-body">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Loading from "../Loading.vue";
import SuccessMessage from "./SuccessMessage.vue";
import FormHandleMixin from "../../mixins/FormHandleMixin";

export default {
  name: "SimpleForm",
  mixins: [
    FormHandleMixin
  ],
  components: {
    Loading,
    SuccessMessage
  },
  props: {
    method: {
      type: String,
      required: false,
      default: 'post'
    },
    actionUrl: {
      type: String,
      required: true
    },
    initUrl: {
      type: String,
      require: false,
      default: null
    },
    title: {
      type: String,
      require: false,
      default: null
    }
  },
  mounted() {
    if (this.initUrl) {
      this.callGet(this.initUrl).then(item => {
        this.initFromProps();
        this.showForm = true;
        this.loading = false;
      });
    } else {
      this.initFromProps();
      this.showForm = true;
      this.loading = false;
    }
  },
  methods: {
    onClickSubmitButton() {
      if (this.method === 'post') {
        this.postFormValues(this.actionUrl);
      } else if (this.method === 'put') {
        this.putFormValues(this.actionUrl);
      }
    }
  }
}
</script>

<style scoped>

</style>
