<template>
    <div v-if="message || title">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading" v-if="title">{{ title }}</h4>
            <p>{{ message }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "SuccessMessage",
    props: {
        title: {
            type: String,
            default: ''
        },
        message: {
            type: String,
            default: ''
        }
    },
    data: function () {
        return {
            title: '',
            message: ''
        };
    },
    mounted() {
/*
        let successMessage = sessionStorage.getItem('successMessage');
        if(successMessage) {
            sessionStorage.removeItem('successMessage');
            this.message = successMessage;
            this.$bvToast.show('my-toast');
        }

        this.$root.$on('successMessage', (event) => {
            this.message = event.message;
            this.$bvToast.show('my-toast');
        });

 */
    }
}
</script>

<style scoped>

</style>
