<template>
  <div class="form-group mb-3">
    <label :for="name" v-if="label">{{ label }}</label>
    <textarea class="form-control" :id="name" v-model="$parent.formValues[name]"
              :class="{'is-invalid': hasError}" :disabled="isDisabled"></textarea>
    <div class="invalid-feedback" v-for="error in errorMessages" v-text="error"></div>
  </div>
</template>

<script>
import FormFieldMixin from "../../mixins/FormFieldMixin";

export default {
  name: "TextFormField",
  mixins: [FormFieldMixin]
}
</script>

<style scoped>

</style>
